.container {
    position: relative;
    width: fit-content;
}

.mainButton {
    transition: transform 0.4s ease;
}

.mainButton.open {
    transform: rotate(215deg);
    filter: opacity(0.5);

}

.secondaryButtonsContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;
    /* Permet les clics à travers le conteneur */
}

.secondaryButton {
    position: absolute;
    padding: 0.75rem;
    border-radius: 9999px;
    /* border: 1px solid #ffffff; */
    box-shadow: 0 0px 15px 0px rgba(254, 254, 254);
    pointer-events: auto;

}

.secondaryButton:active {
    filter: brightness(2);
}

/* Animation pour le retour à la position initiale */
.secondaryButton:not(.open) {
    transition: all 0.3s ease
}