@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --primary: 227 83 64;
  --secondary: #ffffff;
  --accent: #ff00ff;

  /* Elements colors */
  --contrast: #000000;

  /* Button  */
  --button-color: 227 83 64;
  --button-hover-color: 227 83 64;

  /* Themes */
  --background: #f5f5f5;
  --foreground: #ffffff;
}

@layer utilities {
  .btn-custom {
    background-color: red;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    --primary: 227 83 64;
    --secondary: #ffffff;
    --accent: #ff00ff;

    Button 
    --button-hover-color: 227 83 64;

    Themes
    --background: #000000;
    --foreground: #424242;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}